body {
    height: 100vh;
}

.hidden {
    display: none;
}

.banner {
    margin: 0 !important;
    background-image: url("https://img.freepik.com/fotos-gratis/fundo-do-banner-black-friday-splash_1361-3536.jpg?w=2000");
}